* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
  width: 90%;
  background-color: lightblue;
  border-radius: 10px;
}

li:hover {
  background-color: cyan;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  color: burlywood;
}

input {
  display: block;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 10px;
}

#dugme {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: greenyellow;
}

#inputTekst {
  width: 90%;
}

input[type="radio"] {
  display: inline;
}

#div1 {
  position: absolute;
  left: 50px;
  right: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 30%;
  background-color: gainsboro;
  margin: auto;
  margin-top: 150px;
}
