li {
  border: 1px solid blue;
  margin: 5px;
  padding: 5px;
  width: 20%;
  background-color: lightblue;
}

li:hover {
  background-color: cyan;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  color: blue;
}

input {
  display: block;
  margin-top: 20px;
  margin-left: 5px;
}

#dugme {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: greenyellow;
}

#inputTekst {
  width: 20%;
}

input[type="radio"] {
  display: inline;
}
